.main {
    background-image: url("./resources/assets/backgrounds/digital2.png");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    text-align: center;
    margin: auto;
    border: 3px aqua solid;
    border-radius: 100px;
    width: 85%;
    height: 200px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.banner #title {
    padding-top: 50px;
    font-size: 40px;
    color: rgb(127, 140, 255);
    text-shadow: 4px 4px 4px black;
}

.show {
    text-align: center;
    margin: auto;
}

#project-link {
    scale: 1;
    margin: 15px;
    border: 1px black solid;
    border-radius: 15px;
    width: 30%;
    height: 160px;
    background: linear-gradient(black,white);
    padding: 2px;
    animation: wobble 3s linear infinite;
}

#project-link:hover {
    scale: 1.1;
}

#bar {
    margin-top: 10px;
    text-align: center;
    margin: auto;
    border: 1px white;
    border-style: ridge;
    border-color: aqua;
    width: 200px;
    animation: bar 3s infinite;
}

.burger {
    scale: 1;
    margin-top: 20px;
    position: relative;
    display: block;
    width: 40px;
    z-index: 2;
}

.burger:hover {
    scale: 1.1;
    animation: wobble 1s linear;
}

.burger .bun  {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px;
}

.menu {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
    visibility: hidden;
}

.menu.shown {
    visibility: visible;
    animation: slideIn 0.2s linear;
}

.menu .links {
    scale: 1;
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
    width: 400px;
    height: 40px;
    contain: content;
    border: 2px rgb(109, 243, 255) solid;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
}

.menu .links:hover {
    scale: 1.1;
    border: 3px rgb(194, 250, 255) solid;
}

.menu .title {
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 40px;
}

@keyframes wobble {
    0% {
        transform: rotate(0) scale(1);
    }
    33% {
        transform: rotate(1deg) scale(1.05);
    }
    66% {
        transform: rotate(-1deg) scale(1);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translate(0);
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0) scale(1);
    }
    33% {
        transform: rotate(1deg) scale(1.05);
    }
    66% {
        transform: rotate(-1deg) scale(1);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes bar {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(5);
    }
    100% {
        transform: scaleX(0);
    }
}
