
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(69, 69, 69);
}

.titlebar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0;
    background-image: url('../assets/npc.png');
    color: white;
    z-index: 2;
}
.titlebar .overlay {
    background-color: rgba(0, 0, 0, 0.303);
    padding: 10px;
    padding-left: 40px;
}
.titlebar .text {
    padding-right: 50px;
    display: inline-block;
    width: fit-content;
}
.titlebar .interactive {
    display: inline-block;
    width: fit-content;
}

.search {
    border: white 1px solid;
    border-radius: 30px;
    resize: none;
    padding: 6.9px;
}

.dashboard {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}

.display .title {
    color: white;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    user-select: none;
    
    animation-name: appear;
    animation-duration: 1s;
}

.card.negro {
    background-color: gray;
}

@keyframes appear {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}