
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(95, 188, 188), aqua, white);
    margin: 0;
    padding: 0;
    cursor: none
}