body {
    --color-bg: rgb(30, 30, 30);
    --color-nav: rgb(35, 35, 35);
    --color-nav-list: rgb(54, 54, 54);
    --color-hover: rgb(89, 89, 89);

    background-color: var(--color-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    background-color: var(--color-nav);
    height: fit-content;
}
.nav > .title {
    color: rgb(192, 192, 192);
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav > .title > img {
    position: absolute;
    width: 50px;
    border-radius: 5px;
}
.nav > .title > p {
    padding-left: 60px;
    height: 0px;
}
.nav > .links {
    padding: 10px;
    background-color: var(--color-nav-list);
    height: fit-content;
}
.nav > .links > a {
    padding: 9px;
}
.nav > .links > a:hover {
    background-color: var(--color-hover);
}

.content {
    margin-left: 20px;
    margin-top: 20px;
}
.content > .category {
    --color-content: rgb(63, 63, 63);
    --color-content-hover: rgb(82, 82, 82);

    background-color: var(--color-content);
    width: 300px;
    display: inline-block;
    margin: 5px;
}
.content > .category > .title {
    display: block;
    padding-left: 10px;
    background-color: orange;
    color: black;
    font-size: 17px;
}
.content > .category > .links {
    margin-top: 5px;
    display: grid;
}
.content > .category > .links > a {
    padding-bottom: 5px;
    font-size: 15px;
    padding-left: 20px;
}
.content > .category > .links > a:hover {
    padding-bottom: 5px;
    font-size: 15px;
    background-color: var(--color-content-hover);
}
