body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --light-color: rgb(173, 168, 168);
    --title-color: rgb(55, 54, 54);
    --desc-color: rgb(104, 103, 103);
    --generic-color: rgb(7, 147, 147);
}

.dashboard {
    width: 90%;
    margin: auto;
    margin-top: 120px;
}
.dashboard a {
    color: black;
    text-decoration: none;
}


.intro {
    background-image: url('../assets/backdrop.png');
    background-size: cover;
}
.intro .display {
    border: var(--light-color) 1px solid;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.69420), rgba(0, 0, 0, 0));
    backdrop-filter: blur(3px);
}
.intro li {
    font-size: 20px;
}


.examples {
    margin-bottom: 100px;
}
.examples .example {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}
.examples .example .text {
    margin: auto;
    vertical-align: top;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    border-radius: 10px;
}
.examples .example .text .title {
    padding: 0;
    width: fit-content;
}
.examples .example .text .details {
    font-size: 20px;
}
.examples .example .code {
    margin: auto;
    display: inline-block;
    background-color: rgb(48, 48, 48);
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: white;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: var(--light-color) 1px solid;
}


.class {
    margin: auto;
    width: 90%;
}
.class .start {
    color: white;
    position: relative;
    background-color: var(--generic-color);
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.course {
    vertical-align: top;
    border: var(--light-color) 1px solid;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.course > .title > .index {
    background-color: var(--light-color);
    width: fit-content;
    padding: 7px;
    border-radius: 60px;
    font-weight: normal;
}
.course > .title {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    color: var(--title-color);
    font-size: 22px;
}
.course > .desc {
    color: var(--desc-color);
}


