body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --light-color: rgb(173, 168, 168);
    --title-color: rgb(55, 54, 54);
    --desc-color: rgb(104, 103, 103);
    --generic-color: rgb(7, 147, 147);
}

.dashboard {
    margin: auto;
    margin-top: 100px;
    width: 90%;
}

.main {
    margin: auto;
    width: 500px;
}
.footer {
    padding-bottom: 100px;
}

.next {
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 60px;
    background-color: rgb(7, 147, 147);
    color: white;
}

img {
    width: 500px;
    border: var(--light-color) 1px solid;
    border-radius: 10px;
}

.section {
    margin-bottom: 100px;
}

.high {
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
    padding: 2px;
}




